# configs/airflow-metrics.cfg
# Apache Airflow StatsD / Prometheus Metrics Export Configuration

[metrics]
statsd_on = True
statsd_host = statsd-exporter
statsd_port = 8125
statsd_prefix = airflow
statsd_allow_list = dag, task, pool, executor
